* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f9;
    font-family: 'Arial', sans-serif;
}

.container {
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

#msg {
    font-size: 20px;
    font-weight: 700;
    color: #333;
}

.hide {
    display: none;
}

.on {
    display: flex;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 10px;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 1rem rgb(0, 0, 0, 0.3);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cell:hover {
    background-color: #e2e2e2;
}

#restartButton {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}

#restartButton:hover {
    background-color: #555;
}

#newGame {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}

#newGame:hover {
    background-color: #555;
}